---
layout: layouts/base.liquid
name: "Brendan Davies"
title: "Brendan Davies’s Résumé"
location: Philadelphia, PA
subtitle: "Software Engineer"
summary: Experienced Software Engineer who has worked across many platforms and has enjoyed most of them
---

<header class="sticky top-0 max-w-6xl m-auto text-center text-white border-b-2 border-solid md:text-black border-primary md:relative md:bg-transparent bg-primary">
  <h1 class="text-4xl">{{ name }}</h1>
  <h2 class="text-2xl">{{ subtitle }}</h2>
</header>

<main class="max-w-6xl m-auto">
  <section class="m-4 text-center">
    <h3>{{ location }}</h3>
    <ul class="my-1">
      {% for item in contact.items %}
      <li><a href="{{ item.link }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  </section>

  <section class="m-4 text-center">
    <p>{{ summary }}</p>
  </section>

  <section class="block my-2 md:my-6 md:flex">
    <header class="w-full border-solid md:border-r-2 border-primary p2 md:p-6 md:w-1/6">
      <h1 class="italic font-extrabold text-center strike md:block md:text-right">Experience</h1>
    </header>

    <dl class="flex-1 px-4">
      {% for item in experience.items %}
        <dt class="mt-6">
          <h2 class="text-2xl font-thin">{{ item.company }}</h2>
        </dt>
        <dt>{% for position in item.positions %}
          <div class="flex justify-between mx-2">
            <h3 class="font-bold">
              {{ position.title }}
            </h3>
            <span class="text-sm italic font-thin">{{ position.dates }}</span>
          </div>
        {% endfor %}
        </dt>
        {% for point in item.details %}
          <dd class="my-2 ml-4 text-gray-800 list-disc">{{ point }}</dd>
        {% endfor %}
      {% endfor %}
    </dl>
  </section>

  <section class="block my-2 md:my-6 md:flex">
    <header class="w-full p-2 border-solid md:border-r-2 border-primary md:p-6 md:w-1/6">
      <h1 class="italic font-extrabold text-center strike md:block md:text-right">Education</h1>
    </header>
    <dl class="p-4">
      {% for item in education.items %}
      <dt>{{ item.name }}</dt>
      <dd>{{ item.description }}</dd>
      {% endfor %}
    </dl>
  </section>

  <section class="block my-2 md:my-6 md:flex">
    <header class="w-full p-2 border-solid md:border-r-2 border-primary md:p-6 md:w-1/6">
      <h1 class="italic font-extrabold text-center strike md:block md:text-right">Skills</h1>
    </header>
    <ul class="flex flex-wrap flex-1 p-4">
      {% for item in skills.items %}
      <li class="px-1">
        {{ item.name }}{% if forloop.last != true %},{% endif %}
      </li>
      {% endfor %}
    </ul>
  </section>
</main>