---
layout: layouts/base.liquid
name: "Brendan Davies"
title: "Brendan Davies’s Résumé"
location: Philadelphia, PA
subtitle: "Software Engineer"
summary: Experienced Software Developer who has worked across multiple platforms and has enjoyed most of them
---

<header class="mx-6 text-center border-b-2 border-purple-600 border-solid">
  <h1 class="text-4xl">{{ name }}</h1>
  <h2 class="text-2xl">{{ subtitle }}</h2>
  <h3>{{ location }}</h3>
  <ul class="my-1">
    {% for item in contact.items %}
    <li><a href="{{ item.link }}">{{ item.name }}</a></li>
    {% endfor %}
  </ul>
</header>

<main>
  <section class="m-4 text-center">
    <p>{{ summary }}</p>
  </section>

  <section class="block my-6 md:flex">
    <header class="sticky top-0 w-full p-6 border-r-2 border-purple-600 border-solid md:w-1/6">
      <h1 class="italic font-extrabold text-center md:text-right">Experience</h1>
    </header>

    <dl class="flex-1 px-4">
      {% for item in experience.items %}
        <dt class="mt-6">
          <h2 class="text-2xl font-thin">{{ item.company }}</h2>
        </dt>
        <dt>{% for position in item.positions %}
          <div class="flex justify-between mx-2">
            <h3 class="font-bold">
              {{ position.title }}
            </h3>
            <span class="text-sm italic font-thin">{{ position.dates }}</span>
          </div>
        {% endfor %}
        </dt>
        {% for point in item.details %}
          <dd class="my-2 ml-4 text-gray-800 list-disc">{{ point }}</dd>
        {% endfor %}
      {% endfor %}
    </dl>
  </section>

  <section class="block my-6 md:flex">
    <header class="sticky top-0 w-full p-6 border-r-2 border-purple-600 border-solid md:w-1/6">
      <h1 class="italic font-extrabold text-center md:text-right">Education</h1>
    </header>
    <dl class="p-4">
      {% for item in education.items %}
      <dt>{{ item.name }}</dt>
      <dd>{{ item.description }}</dd>
      {% endfor %}
    </dl>
  </section>

  <section class="block my-6 md:flex">
    <header class="sticky top-0 w-full p-6 border-r-2 border-purple-600 border-solid md:w-1/6">
      <h1 class="italic font-extrabold text-center md:text-right">Skills</h1>
    </header>
    <ul class="px-4">
      {% for item in skills.items %}
      <li>{{ item.name }}</li>
      {% endfor %}
    </ul>
  </section>
</main>